 <!--<%= form_with(model: paciente, local: true) do |form| %>
#   <% if paciente.errors.any? %>
#     <div id="error_explanation">
#       <h2><%= pluralize(paciente.errors.count, "error") %> prohibited this paciente from being saved:</h2>

#       <ul>
#       <% paciente.errors.full_messages.each do |message| %>
#         <li><%= message %></li>
#       <% end %>
#       </ul>
#     </div>
#  <% end %>-->
# <!-- <div class="col-md-4">
# </div>
# <div class="col-md-4">
#   <div class="field">
#     <%= form.label :nombre  %>
#     <%= form.text_field :nombre, id: :paciente_nombre, :class=>'form-control' %>
#   </div>

#   <div class="field">
#     <%= form.label :apellido %>
#     <%= form.text_field :apellido, id: :paciente_apellido,:class=>'form-control' %>
#   </div>

#   <div class="field">
#     <%= form.label :ci %>
#     <%= form.text_field :ci, id: :paciente_ci, :class=>'form-control' %>
#   </div>

#   <div class="field">
#     <%= form.label :sexo %>
#     <%= form.text_field :sexo, id: :paciente_sexo, :class=>'form-control' %>
#   </div>

#   <div class="field">
#     <%= form.label :edad %>
#     <%= form.text_field :edad, id: :paciente_edad, :class=>'form-control'%>
#   </div>

#   <div class="field">
#     <%= form.label :lugarNacimiento %>
#     <%= form.text_field :lugarNacimiento, id: :paciente_lugarNacimiento, :class=>'form-control' %>
#   </div>

#   <div class="field">
#     <%= form.label :nacionalidad %>
#     <%= form.text_field :nacionalidad, id: :paciente_nacionalidad , :class=>'form-control'%>
#   </div>

#   <div class="field">
#     <%= form.label :etnia %>
#     <%= form.text_field :etnia, id: :paciente_etnia , :class=>'form-control'%>
#   </div>

#   <div class="actions">
#     <%= form.submit %>
#   </div>
# </div>
# <div class="col-md-4">
# </div> -->
# <!--<% end %>-->
