<%= form_with(model: ficha_num, local: true) do |form| %>
  <% if ficha_num.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ficha_num.errors.count, "error") %> prohibited this ficha_num from being saved:</h2>

      <ul>
      <% ficha_num.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="row1">
  <div class="col-md-2">
    <label>Nº de Ficha</label>
    <%= form.text_field :numero, id: :ficha_num_numero, class: "form-control" %>
  </div>
  <div class="col-md-2">
        <label>Tipo</label>
        <%= form.collection_select(:categori_id, @categoris, :id, :tipo, {prompt: true}, {:class=>'form-control'}) %>
      </div>
</div>
<br><br><br><br>
<hr>
<center><h4>Datos del Establecimiento</h4></center>
<hr>
  <div class="row2">
      <div class="col-md-3">
        <label>Puesto de Salud</label>
        <%= form.collection_select(:puesto_salud_id, @puesto_salud, :id, :nombre, {prompt: true}, {:class=>'form-control', :id=>'select_puesto_salud'}) %>
      </div>
      <fieldset disabled>
          <div class="col-md-4">
              <div class="form-group">
              <label for="disabledTextInput">Localidad</label>
              <input type="text" id="disabledTextInput" class="form-control">
            </div>
            </div>
          <div class="col-md-4">
              <label>Distrito</label>
              <input type="text" id="tbDistrito" class="form-control">
            </div>
          <div class="col-md-4">
              <label>Region Sanitaria</label>
              <input type="text" id="tbRegion" class="form-control">
          </div>
      </fieldset>
  </div>


  <div class="">
  <div class="actions">
    <%= form.submit%>
  </div>

</div>
</div>
</div>
<% end %>


<script type="text/javascript">
  
    $("#select_puesto_salud" ).change(function() {
      var id = $('#select_puesto_salud').val();

      $.ajax({
              type:'GET', 
              url: '/puesto_saluds/getInfo',
              data: {"id": id},

              success: function(data) {
                console.log(data.nombre);
                $('#disabledTextInput').val(data.localidad);
                $('#tbDistrito').val(data.distrito);
                $('#tbRegion').val(data.regionSanitaria);
                  console.log(data);
                  
              },
              error: function(data) {
                    alert('error');
              }

               //data: $.param({ pagetime: {pagename: "whatever", start: 7, end: 21 }})
          });

      });
</script>
