<p id="notice"><%= notice %></p>

<div class="container">
    <h1>Ficha Numero: <%= @ficha_num.numero %></h1>

    <h1>Pacientes</h1>
    <h2>Agregar Paciente:</h2>
      <%= form_for([@ficha_num, @ficha_num.pacientes.build]) do |f| %>
      
    <div class="row">

        <div class="col-md-4">
          <%= f.label :nombre  %>
          <%= f.text_field :nombre, id: :paciente_nombre, :class=>'form-control'%>
        </div>
        <div class="col-md-4">
          <%= f.label :apellido %>
          <%= f.text_field :apellido, id: :paciente_apellido,:class=>'form-control' %>
        </div>

        <div class="col-md-4">
          <%= f.label :ci %>
          <%= f.text_field :ci, id: :paciente_ci, :class=>'form-control' %>
        </div>

        <div class="col-md-4">
          <%= f.label :sexo %>
          <%= f.text_field :sexo, id: :paciente_sexo, :class=>'form-control' %>
        </div>

        <div class="col-md-4">
          <%= f.label :edad %>
          <%= f.text_field :edad, id: :paciente_edad, :class=>'form-control'%>
        </div>

        <div class="col-md-4">
          <%= f.label :lugarNacimiento %>
          <%= f.text_field :lugarNacimiento, id: :paciente_lugarNacimiento, :class=>'form-control' %>
        </div>

        <div class="col-md-4">
          <%= f.label :nacionalidad %>
          <%= f.text_field :nacionalidad, id: :paciente_nacionalidad , :class=>'form-control'%>
        </div>

        <div class="col-md-4">
          <%= f.label :etnia %>
          <%= f.text_field :etnia, id: :paciente_etnia , :class=>'form-control'%>
        </div>
          <%= f.submit %>
      <% end %>
  </div>
<div class="row">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Ci</th>
        <th>Sexo</th>
        <th>Edad</th>
        <th>Lugarnacimiento</th>
        <th>Nacionalidad</th>
        <th>Etnia</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @ficha_num.pacientes.each do |paciente| %>
        <tr>
          <td><%= paciente.nombre %></td>
          <td><%= paciente.apellido %></td>
          <td><%= paciente.ci %></td>
          <td><%= paciente.sexo %></td>
          <td><%= paciente.edad %></td>
          <td><%= paciente.lugarNacimiento %></td>
          <td><%= paciente.nacionalidad %></td>
          <td><%= paciente.etnia %></td>
          <td><%= link_to 'New Diagnostico', new_diagnostico_path %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>



