<%= form_with(model: categori, local: true) do |form| %>
  <% if categori.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(categori.errors.count, "error") %> prohibited this categori from being saved:</h2>

      <ul>
      <% categori.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo, id: :categori_tipo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
