<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @diagnostico.fecha %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @diagnostico.hora %>
</p>

<p>
  <strong>Axilarectal:</strong>
  <%= @diagnostico.axilaRectal %>
</p>

<p>
  <strong>Presionarterial:</strong>
  <%= @diagnostico.presionArterial %>
</p>

<p>
  <strong>Pulso:</strong>
  <%= @diagnostico.pulso %>
</p>

<p>
  <strong>Frecardiaca:</strong>
  <%= @diagnostico.freCardiaca %>
</p>

<p>
  <strong>Frerespi:</strong>
  <%= @diagnostico.freRespi %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @diagnostico.peso %>
</p>

<p>
  <strong>Talla:</strong>
  <%= @diagnostico.talla %>
</p>

<p>
  <strong>Perimecefalico:</strong>
  <%= @diagnostico.perimeCefalico %>
</p>

<p>
  <strong>Masacorpo:</strong>
  <%= @diagnostico.masaCorpo %>
</p>

<p>
  <strong>Circuabdomi:</strong>
  <%= @diagnostico.circuAbdomi %>
</p>

<p>
  <strong>Estadnutricional:</strong>
  <%= @diagnostico.estadNutricional %>
</p>

<p>
  <strong>Alimentacion:</strong>
  <%= @diagnostico.alimentacion %>
</p>

<p>
  <strong>Desarrollomadura:</strong>
  <%= @diagnostico.desarrolloMadura %>
</p>

<p>
  <strong>Tanner:</strong>
  <%= @diagnostico.tanner %>
</p>

<p>
  <strong>Vacucacionvigente:</strong>
  <%= @diagnostico.vacucacionVigente %>
</p>

<p>
  <strong>Areatecespecialidades:</strong>
  <%= @diagnostico.areaTecEspecialidades %>
</p>

<p>
  <strong>Nuevo:</strong>
  <%= @diagnostico.nuevo %>
</p>

<p>
  <strong>Motivoconsul:</strong>
  <%= @diagnostico.motivoConsul %>
</p>

<p>
  <strong>Diagnostico:</strong>
  <%= @diagnostico.diagnostico %>
</p>

<p>
  <strong>Examenfisico:</strong>
  <%= @diagnostico.examenFisico %>
</p>

<p>
  <strong>Otrodiagnos:</strong>
  <%= @diagnostico.otroDiagnos %>
</p>

<p>
  <strong>Tratamiento:</strong>
  <%= @diagnostico.tratamiento %>
</p>

<%= link_to 'Edit', edit_diagnostico_path(@diagnostico) %> |
<%= link_to 'Back', diagnosticos_path %>
