<p id="notice"><%= notice %></p>

<h1>Puesto Saluds</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Contacto</th>
      <th>Localidad</th>
      <th>Distrito</th>
      <th>Direccion</th>
      <th>Regionsanitaria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @puesto_saluds.each do |puesto_salud| %>
      <tr>
        <td><%= puesto_salud.nombre %></td>
        <td><%= puesto_salud.contacto %></td>
        <td><%= puesto_salud.localidad %></td>
        <td><%= puesto_salud.distrito %></td>
        <td><%= puesto_salud.direccion %></td>
        <td><%= puesto_salud.regionSanitaria %></td>
        <td><%= link_to 'Show', puesto_salud %></td>
        <td><%= link_to 'Edit', edit_puesto_salud_path(puesto_salud) %></td>
        <td><%= link_to 'Destroy', puesto_salud, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Puesto Salud', new_puesto_salud_path %>
